@model ShopGiay.Models.Tonkho

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
}

<h1>Details</h1>

<div>
    <h4>Tonkho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTonKho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTonKho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaGocBt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaGocBt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBanBt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBanBt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKcNavigation.MaKc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMhNavigation.MaMh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMsNavigation.MaMs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaK">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
